<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Nation:</strong>
  <%= @player.nation %>
</p>

<p>
  <strong>Ratings:</strong>
  <%= @player.ratings %>
</p>

<p>
  <strong>Age:</strong>
  <%= @player.age %>
</p>

<p>
  <strong>Club:</strong>
  <%= @player.club %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
